<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="n1">
    +
    <input type="text" v-model="n2">
    =
    <input type="text" v-model="n3">

    
  </div>

  <script src="vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        n1: 0,
        n2: 0,
        n3: 0
      },
      watch: {
        n1 (val) {
          this.n3 = +this.n2 + +val
        },
        n2 (val) {
          this.n3 = +this.n1 + +val
        }
      }
    })
  </script>
</body>
</html>