<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="n1">
    +
    <input type="text" v-model="n2">
    =
    <!-- n3获取的是函数的返回值 -->
    <input type="text" v-model="n3()">
    <input type="text" v-model="n3()">
    <input type="text" v-model="n3()">
    <input type="text" v-model="n3()">
    <input type="text" v-model="n3()">
    <input type="text" v-model="n3()">
    <input type="text" v-model="n3()">
    <input type="text" v-model="n3()">
  </div>

  <script src="vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      // 提供vue的数据
      data: {
        n1: 0,
        n2: 0
      },
      // 提供方法
      methods: {
        n3: function() {
          console.log('计算属性方法执行了')
          return +this.n1 + +this.n2
        }
      },
      // 监视数据变化
      watch: {

      },
      // 计算属性（vue非常推崇的使用方式）
      computed: {
        // 什么叫计算属性，当某个属性的值不是确定的是，
        // 而是通过计算才能得到的，我们就可以定义一个计算属性。
        // 1. 定义了一个计算属性n3,  注意n3是一个计算得到的属性，因此不能在data中存在
        
        // 为什么是一个函数. 
        // 因为计算属性需要进行一定的逻辑计算，所以我们需要把这些计算的逻辑放到函数中。
        // n3的属性值就是function的返回值, 注意计算属性使用的时候，根据普通的属性用法是一样的

        // 不一样的是：计算属性的结果会根据n1和n2的值改变而改变
        // 所以每当n1或者n2的值发生改变的时候，计算属性的值就会得到更新
        // 所以说n3的值会一直根据n1和n2的值改变而改变
        
      }
    })
  </script>
</body>
</html>