<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue"/>
        <button @click="handleBtnClick">提交</button>
        <ul>
            <li :content="item"
                :index="index"
                v-for="(item, index) in list"
                @click="handleItemDelete(index)">
                {{item}}
            </li>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                props: ['content', 'index'],
                list: [],
                inputValue: '',
            },
            methods: {
                handleBtnClick: function(){
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                },
                handleItemDelete: function(index){
                    this.list.splice(index, 1);
                },
            }
        });
    </script>
</body>
</html>