/* 
@author olive
*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fafafa;
    height: 3000px;
}

li {
    list-style: none;
}

/* 导航栏开始 */
.header {
    background-color: #fff;
    height: 100px;
}

.inner {
    /* background-color: pink; */
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
}

.logo{
    float: left;
}

.nav {
    float: right;
}

.nav li {
    float: left;
}

.nav li a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 0 20px;
}
.nav li a:hover {
    color: #2288f6;
}
/* 导航栏结束 */

/* banner start */
.banner {
    height: 620px;
    background: url(../images/banner.jpg) no-repeat scroll top ;
}
/* banner end */

/* service start */
.service {
    width: 1055px;
    height: 660px;
    /* background-color: pink; */
    margin: 75px auto 0;
}

.service_hd {
    border-top: 1px solid #ccc;
    margin: 0 20px;
}


/* service end */
