<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <label for="">
            id: <input type="text" name="" id="" v-model="id"> 
        </label>
        <label for="">
            name: <input type="text" name="" id="" v-model="name">
        </label>
        <label for="">
            <input type="button" value="add" @click="add">
        </label>
        <!-- 注意： v-for 循环的时候，key 属性只能使用 number获取string -->
        <!-- 注意： key 在使用的时候，必须使用 v-bind 属性绑定的形式，指定 key 的值 -->
        <!-- 在组件中，使用v-for循环的时候，或者在一些特殊情况中，如果 v-for 有问题，
            必须 在使用 v-for 的同时，指定 唯一的 字符串/数字 类型 :key 值 -->
        <div v-for="item in users" :key="item.id">
            <input type="checkbox" name="" id="">{{item.id}}-----{{item.name}}
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                id: 0,
                name: '',
                users: [{id: 0, name: 'zs'},
                        {id: 1, name: 'ls'},
                        {id: 2, name: 'ww'},
                        {id: 3, name: 'zl'}],
            },
            methods: {
                add() {
                    // this.users.push({id:this.id, name:this.name})
                    this.users.unshift({id:this.id, name:this.name})
                }
            },
        });
    </script>
</body>
</html>