<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
      <input type="number" v-model="n1">
      <span>+</span>
      <input type="number" v-model="n2">
      <span>= {{result}}</span>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
              n1: 0,
              n2: 0,
              result: 0
            },
            methods: {
                
            },
            watch: {
              n1: function (value) {
                this.result = +value + parseInt(this.n2)
              },
              n2: function (value) {
                this.result = +this.n1 + +value
              },
            }
        });
    </script>
</body>
</html>