<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
      <input type="number" v-model="n1">+
      <input type="number" v-model="n2">=
      <span>{{sum}}</span>
      <p>{{reverse}}</p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
              msg: 'Hello Vue',
              n1: 0,
              n2: 0,
            },
            methods: {
            },
            computed: {
              sum: function () {
                return +this.n1 + +this.n2
              },
              reverse: function () {
                return this.msg.split('').reverse().join('')
              }
            },
        });
    </script>
</body>
</html>