<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>品牌管理</title>
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  <style>
    .container {
      margin-top: 50px;
      width: 850px;
    }

    .container .form-inline {
      margin-bottom: 20px;
    }

    .table.table-bordered th,
    .table.table-bordered td {
      text-align: center;
      vertical-align: middle;
    }
  </style>
</head>

<body>
  <div class="container">

    <brand-form ref="form" @add="add" @get-key="getKey"></brand-form>
    <brand-table :list="searchList" @del="del"></brand-table>

  </div>

  <script src="./node_modules/vue/dist/vue.js"></script>
  <script src="./node_modules/moment/moment.js"></script>
  <script>
    // Vue.filter('dateFilter', function (input, format = 'YYYY-MM-DD HH:mm:ss') {
    //   return moment(input).format(format)
    // })
    Vue.directive('focus', {
      inserted(el) {
        el.focus()
      }
    })

    Vue.component('brand-table', {
      template: `
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th width="10%">序号</th>
              <th width="20%">名称</th>
              <th width="30%">描述</th>
              <th width="30%">创建时间</th>
              <th width="10%">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in list" :key="item.id">
              <td>{{index + 1}}</td>
              <td>{{item.brand}}</td>
              <td>{{item.desc}}</td>
              <td>{{item.time | dateFilter}}</td>
              <td><a href="#" @click.prevent="delBrand(item.id)">删除</a></td>
            </tr>
          </tbody>
        </table>
      `,
      props: ['list'],
      methods: {
        delBrand(id) {
          // 只需要把id传递给父组件即可
          this.$emit('del', id)
        }
      },
      filters: {
        dateFilter: function (input, format = 'YYYY-MM-DD HH:mm:ss') {
          return moment(input).format(format)
        }
      }
    })
    Vue.component('brand-form', {
      template: `
        <form class="form-inline">
          <div class="form-group">
            <label>名称</label>
            <input type="text" v-focus class="form-control" v-model="brand">
          </div>
          <div class="form-group">
            <label>描述</label>
            <input type="text" class="form-control" v-model="desc">
          </div>
          <button type="button" class="btn btn-primary" @click="addBrand">添加</button>
          <div class="form-group" style="margin-left: 50px">
            <label>关键字</label>
            <input type="text" class="form-control" v-model="key">
          </div>
        </form>
      `,
      data() {
        return {
          brand: '',
          desc: '',
          key: ''
        }
      },
      methods: {
        addBrand() {
          // 只负责把this.brand和this.desc发送给父组件
          this.$emit('add', this.brand, this.desc)
          // 清除数据
          this.brand = ''
          this.desc = ''
        }
      },
      watch: {
        key: function (value) {
          this.$emit('get-key', value)
          console.log('触发了')
        }
      }
    })

    const vm = new Vue({
      el: '.container',
      data: {
        list: [
          { id: 1, brand: '劳斯莱斯幻影', desc: '你要是出生的时候买不起', time: new Date() },
          { id: 2, brand: '五菱宏光', desc: '秋名山车神标配', time: new Date() },
          { id: 3, brand: '奥拓', desc: '只能买到二手了', time: new Date() },
          { id: 4, brand: '奥迪', desc: '四个圈', time: new Date() },
          { id: 5, brand: '奥巴马', desc: '攻速快了很猛', time: new Date() },
          { id: 6, brand: '奥拉夫', desc: '血越少攻速越快', time: new Date() },
        ],
        index: 6,
        key: ''
      },
      methods: {
        del(id) {
          let index = this.list.findIndex(item => item.id === id)
          this.list.splice(index, 1)
        },
        add(brand, desc) {
          this.list.push({
            id: ++this.index,
            brand,
            desc,
            time: new Date()
          })
        },
        getKey(key) {
          // 只要自己的key变了， searchList
          console.log('111')
          console.log(key)
          this.key = key
        }
      },
      computed: {
        searchList: function () {
          return this.list.filter(item => item.brand.includes(this.key))
        }
      }
    })
  </script>

</body>

</html>


<!-- 父传子：  父组件给子组件自定义属性   子元素通过props来接收 -->
<!-- 子传父：  父组件给子组件注册事件（父组件给子组件一个方法）  子组件接收到方法，调用即可，把需要传递的数据给了父元素  -->