<div>
  <!-- 面包屑导航 -->
  <el-row>
    <el-col :span="24">
      <el-breadcrumb separator-class="el-icon-arrow-right" class="user-list-breadcrumb">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>用户管理</el-breadcrumb-item>
        <el-breadcrumb-item>用户列表</el-breadcrumb-item>
      </el-breadcrumb>
    </el-col>
  </el-row>

  <!-- 搜索和添加 -->
  <el-row :gutter="20">
    <el-col :span="6">
      <el-input placeholder="请输入搜索内容" v-model="searchTxt" class="input-with-select">
        <el-button slot="append" icon="el-icon-search" @click="search"></el-button>
      </el-input>
    </el-col>
    <el-col :span="2">
      <el-button type="success" @click="dialogFormVisible = true" plain>添加用户</el-button>
    </el-col>
  </el-row>

  <!-- 表格 -->
  <el-table
    :data="userList"
    stripe
    style="width: 100%">
    <el-table-column
      prop="username"
      label="姓名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="email"
      label="邮箱"
      width="180">
    </el-table-column>
    <el-table-column
      prop="mobile"
      label="电话">
    </el-table-column>
    <el-table-column label="用户状态">
      <template slot-scope="scope">
        <!-- scope.row获取到当前行的数据对象 -->
        <el-switch v-model="scope.row.mg_state" @change="changeUserState(scope.row)">
        </el-switch>
      </template>
    </el-table-column>
    <!-- 自定义列 -->
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button type="primary" icon="el-icon-edit" plain size="mini" @click="showEdit(scope.row)"></el-button>
        <el-button type="danger" icon="el-icon-delete" plain size="mini" @click="delUser(scope.row)"></el-button>
        <el-button type="success" icon="el-icon-check" plain size="mini" @click="showRoleDialog(scope.row)">分配角色</el-button>
      </template>
    </el-table-column>
  </el-table>

  <!-- 分页 -->
  <el-pagination
    background
    layout="prev, pager, next"
    :total="total"
    :page-size="2"
    :current-page="pagenum"
    @current-change="getUserList">
  </el-pagination>

  <!-- 添加用户对话框 -->
  <el-dialog title="添加用户" :visible.sync="dialogFormVisible">
    <el-form ref="userForm" label-position="right" label-width="80px" :model="userAddForm" :rules="rules">
      <el-form-item label="用户名" prop="username">
        <el-input v-model="userAddForm.username"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="userAddForm.password"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="userAddForm.email"></el-input>
      </el-form-item>
      <el-form-item label="手机" prop="mobile">
        <el-input v-model="userAddForm.mobile"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="cancelAdd">取 消</el-button>
      <el-button type="primary" @click="addUser">确 定</el-button>
    </div>
  </el-dialog>

  <!-- 编辑用户对话框 -->
  <el-dialog title="编辑用户" :visible.sync="editFormVisible">
    <el-form ref="editForm" label-position="right" label-width="80px" :model="userEditForm" :rules="editRules">
      <el-form-item label="用户名">
        <el-tag type="info">{{ userEditForm.username }}</el-tag>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="userEditForm.email"></el-input>
      </el-form-item>
      <el-form-item label="手机" prop="mobile">
        <el-input v-model="userEditForm.mobile"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="editFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="editUser">修 改</el-button>
    </div>
  </el-dialog>

  <!-- 分配角色对话框 -->
  <el-dialog title="分配角色" :visible.sync="roleFormVisible">
    <el-form ref="rolesForm" label-position="right" label-width="80px">
      <el-form-item label="用户名">
        <el-tag type="info">{{ roleForm.username }}</el-tag>
      </el-form-item>
      <el-form-item label="角色列表" prop="email">
        <el-select v-model="roleForm.roleId" placeholder="请选择角色">
          <el-option
            v-for="item in rolesList"
            :key="item.id"
            :label="item.roleName"
            :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="roleFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="assignRoleToUser">分 配</el-button>
    </div>
  </el-dialog>
</div>
