<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <input type="text" v-model="firstName">+
    <input type="text" v-model="lastName">=
    <input type="text" v-model="fullName">
    <input type="text" v-model="fullName">
    <input type="text" v-model="fullName">
    <input type="text" v-model="fullName">
    <input type="text" v-model="fullName">
    <input type="text" v-model="fullName">
    <input type="text" v-model="fullName">
    <input type="text" v-model="fullName">
    <input type="text" v-model="fullName">
    <input type="text" v-model="fullName">
    <input type="text" v-model="fullName">
    <input type="text" v-model="fullName">
    <input type="text" v-model="fullName">
  </div>

  <script src="vue.js"></script>
  <script>
    /* 
      计算属性依赖于缓存设计的 
      当计算属性依赖的属性发生了改变的时候，计算属性就会重新计算，并且会把结果缓存起来
    */

    var vm = new Vue({
      el: '#app',
      data: {
        firstName: '',
        lastName: ''
      },
      computed: {
        fullName: {
          get() {
            console.log('我是计算属性的get方法')
            return this.firstName + ' ' + this.lastName
          },
          set(value) {
            this.firstName = value.split(' ')[0]
            this.lastName = value.split(' ')[1]
          }
        }
      }
    })
  </script>
</body>

</html>