<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>品牌管理</title>
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  <style>
    .container {
      margin-top: 50px;
      width: 850px;
    }
    .container .form-inline {
      margin-bottom: 20px;
    }

    .table.table-bordered th,
    .table.table-bordered td {
      text-align: center;
      vertical-align: middle;
    }
  </style>
</head>

<body>
  <div class="container" id="app">
    <form class="form-inline">
      <div class="form-group">
        <label>名称</label>
        <input type="text" class="form-control" v-model="name">
      </div>
       <div class="form-group">
        <label>描述</label>
        <input type="text" class="form-control" v-model="desc" @keyup="fn">
      </div>
      <button type="button" class="btn btn-primary" @click="add">添加</button>
    </form>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="10%">序号</th>
          <th width="20%">名称</th>
          <th width="30%">描述</th>
          <th width="30%">创建时间</th>
          <th width="10%">操作</th>
        </tr>
      </thead>
      <tbody>
        <!-- key: 大家首先要保证会用，不要老去纠结 就地复用原则 -->
        <tr v-for="(item, index) in list" :key="item.id">
          <td>{{index + 1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.desc}}</td>
          <td>{{item.time}}</td>
          <!-- delete是关键字 不能用 -->
          <td><a href="#" @click.prevent="del(item.id)">删除</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="./node_modules/vue/dist/vue.js"></script>
  <script>
  
    const vm = new Vue({
      el: '#app',
      data: {
        name: '',
        desc: '',
        index: 3,
        list: [
          {id: 1, name:'奔驰', desc:'挺贵的', time: new Date()},
          {id: 2, name:'宝马', desc:'别摸我BMW', time: new Date()},
          {id: 3, name:'五菱宏光', desc:'秋名山见', time: new Date()},
        ]
      },
      methods: {
        del (id) {
          // 根据id获取到下标
          //删除数组对应的下标
          let index = this.list.findIndex(item=>item.id === id)
          this.list.splice(index, 1)
        },
        add () {
          this.list.push({
            id: ++this.index,
            name: this.name,
            desc: this.desc,
            time: new Date()
          })
          this.name = ''
          this.desc = ''
        },

        fn(e) {
          if(e.keyCode === 13) {
            this.add()
          }
        }
      }
        
    })

  </script>


</body>

</html>