/* 
@Author: olive
@Date: 2018年09月25日
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    height: 3000px;
}

/* header start */
.header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
}

.header .logo {
    width: 223px;
    height: 100px;
    float: left;
}

.header .nav {
    float: right;
}

.nav li {
    float: left;
    margin: 0 20px;
    list-style: none;
    font-size: 16px;
}

.nav li a {
    text-decoration: none;
    color: #232323;
}

.nav li a:hover {
    text-decoration: none;
    color: cyan;
}
/* header end */

/* banner start */
.banner {
    height: 620px;
    background: url(../images/banner.jpg) no-repeat top;
}
/* banner end */

/* service start */
.service {
    width: 1055px;
    height: 660px;
    margin: 75px auto;
}

.service_hd {
    border-top: 1px solid #ccc;

}
.service_hd h3 {
    width: 167px;
    height: 46px;
    margin: -15px auto 0;
}

.service_hd p {
    margin: 15px 40px 0;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}
/* service end */