<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="../bootstrap-3.3.7.css">
</head>
<body>
    <div id="app">
        <label >
            id:<input type="text" v-model="id">
        </label>
        <label >
            name:<input type="text" v-model="name">
        </label>
        <input type="button" value="add" @click="add">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>time</td>
                    <td>operate</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.time | dateFomater('')}}</td>
                    <td><input type="button" value="del" @click="del(key)"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        Vue.filter('dateFomater', function(date, pattern){
            var y = date.getFullYear()
            var m = date.getMonth()+1
            var d = date.getDate()
            
            if (pattern.toLowerCase() === 'yyyy-mm-dd') {
                return `${y}-${m}-${d}`
            }else {
                var h = date.getHours()
                var mm = date.getMinutes()
                var s = date.getSeconds()
                return `${y}-${m}-${d} ${h}:${mm}:${s}`
            }
        })

        new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                list: [
                    {id:1, name: '奔驰', time: new Date()},
                    {id:2, name: '宝马', time: new Date()},
                    {id:3, name: '奥迪', time: new Date()},
                ],
            },
            methods: {
                add(){
                    this.list.push({id:this.id, name: this.name, time: new Date()})
                    this.id = ''
                    this.name = ''
                },
                del(key) {
                    console.log(key)
                }
            },
        });
    </script>
</body>
</html>